.text {
	text-align: center;
	max-width: 500px;
  	overflow: auto;  
}

#first-paragraph {
  color: pink;
  font-family: Verdana; 
}

#second-paragraph {
  color:mediumseagreen;
   font-family: sans-serif;
}